@import "tailwindcss";

@theme {
  --color-primary: var(--color-cyan-500);
  --color-secondary: var(--color-pink-700);
  --color-dark: var(--color-slate-800);
}

@layer base {
  body {
    @apply font-sans text-xl text-slate-800 bg-white;
  }
}
